@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #67c8f3;
  --secondary-color: #7dbb4f;
  --background-color: #f0f8ff;
  --text-color: #333333;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

html[dir="rtl"] {
  text-align: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-background {
  background-color: var(--background-color);
}

.hover\:bg-primary-dark:hover {
  background-color: #4ba0c8;
}

.hover\:bg-secondary-dark:hover {
  background-color: #639540;
}
